{{#if mandataris}}
  {{#if nieuweStijl}}
    {{!-- ************************************* NIEUWE STIJL *************************************--}}
    <div property="besluit:motivering" lang="nl">
      <div>
        <h6>Juridische context</h6>
        <ul class="bullet-list">
          <li>
            <a href="http://data.lblod.info/WetgevingDocument/1029017" property="eli:cites">Het decreet van 22 december 2017 over het lokaal bestuur</a>, de artikelen <a href="http://data.lblod.info/WetgevingArtikel/1234900" property="eli:cites">58</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234901" property="eli:cites">59</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234902" property="eli:cites">60</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234903" property="eli:cites">61</a> en <a href="http://data.lblod.info/WetgevingArtikel/1234904" property="eli:cites">62</a>;
          </li>
          <li>De omzendbrief KB / ABB 2018 / 3 van 26 oktober 2018 &mdash; Start van de lokale en provinciale bestuursperiode;</li>
          <li>Het Ministerieel besluit van {{{mandatarisMinBesluit}}} houdende de benoeming van
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}} tot burgemeester van {{bestuurseenheid.naam}};
          </li>
        </ul>
      </div>
      <br>
      <div>
        <h6>Feitelijke context en argumentatie</h6>
        <ul class="bullet-list">
          <li>
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}
            heeft de decretaal voorziene eed afgelegd in de handen van de gouverneur op
            {{{mandatarisEedaflegging}}}, zoals bevestigd door de akte van eedaflegging;
          </li>
          <li>
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}} heeft aldus met ingang van
            {{{mandatarisStartOutput}}} het ambt van burgemeester opgenomen;</li>
        </ul>
      </div>
    </div>

    <br>
    <br>

    <h6>Beslissing</h6>

    <div property="prov:value">
      <div property="eli:has_part" resource={{artikelUri}} typeof="besluit:Artikel">
        <span property="eli:number">Enig artikel.</span>
        <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
        <span property="prov:value">De gemeenteraad neemt kennis van de benoeming en eedaflegging van
          {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}} tot burgemeester van {{bestuurseenheid.naam}}
          met ingang van {{{mandatarisStartOutput}}}.
        </span>
      </div>
    </div>

  {{else}}
    {{!-- ************************************* OLD SKOOL  *************************************--}}

    <p class="u-spacer--small">De gemeenteraad,</p>
    <div property="besluit:motivering" lang="nl">
      <div>
        <ul class="bullet-list">
          <li>Gelet op <a href="http://data.lblod.info/WetgevingDocument/1029017" property="eli:cites">het decreet van 22 december 2017 over het lokaal bestuur</a>, de artikelen <a href="http://data.lblod.info/WetgevingArtikel/1234900" property="eli:cites">58</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234901" property="eli:cites">59</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234902" property="eli:cites">60</a>, <a href="http://data.lblod.info/WetgevingArtikel/1234903" property="eli:cites">61</a> en <a href="http://data.lblod.info/WetgevingArtikel/1234904" property="eli:cites">62</a>;</li>
          <li>Gelet op de omzendbrief KB / ABB 2018 / 3 van 26 oktober 2018 &mdash; Start van de lokale en provinciale bestuursperiode;</li>
          <li>Gelet op het Ministerieel besluit van {{{mandatarisMinBesluit}}} houdende de benoeming van
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}} tot burgemeester van {{bestuurseenheid.naam}};
          </li>
        </ul>
      </div>
      <br>
      <div>
        <ul class="bullet-list">
          <li>
            Overwegende dat
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}
            de decretaal voorziene eed heeft afgelegd in de handen van de gouverneur op {{{mandatarisEedaflegging}}}, zoals bevestigd door de akte van eedaflegging;</li>
          <li>
            Overwegende dat
            {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}
            aldus met ingang van {{{mandatarisStartOutput}}} het ambt van burgemeester heeft opgenomen;</li>
        </ul>
      </div>
    </div>

    <br>
    <br>

    <p class="u-spacer--small">Beslist,</p>

    <div property="prov:value">
      <div property="eli:has_part" resource={{artikelUri}} typeof="besluit:Artikel">
        <span property="eli:number">Enig artikel.</span>
        <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
        <span property="prov:value">Akte te nemen van de benoeming en eedaflegging van
          {{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}} ,
          tot burgemeester van {{bestuurseenheid.naam}} met ingang van {{{mandatarisStartOutput}}}.</span>
      </div>
    </div>

  {{/if}}
{{else}}
  Geen burgemeester gevonden. Werd het juiste scenario geselecteerd?
{{/if}}
