<div class="modal-dialog__header">
  <div class="grid">
    <div class="col--10-12">
      {{#if loadData.isRunning}}
        <p class="loader"><span class="u-visually-hidden">Aan het laden</span></p>
      {{else}}
        {{#if bestuursorgaan}}
          <p class="u-spacer--tiny">
            Wilde u graag de scenario's inzake de <strong>burgemeester</strong> beheren?
          </p>
        {{else}}
          <p class="u-spacer--tiny">
            <strong>Gelieve eerst een bestuursorgaan te selecteren.</strong>
          </p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>

{{#unless loadData.isRunning}}
  <div class="modal-dialog__footer">
    {{#wu-button-group}}
      {{#if bestuursorgaan}}
          {{wu-button
            label="Beheer"
            isNarrow=true
            onClick=(action "togglePopup")
          }}
      {{/if}}
    {{/wu-button-group}}
  </div>
{{/unless}}

{{# if popup}}
  {{#wu-modal
     title="Kies scenario voor benoeming en eedaflegging van de burgemeester"
     dialog-class="modal-dialog--sectioned"
     dialog-content-class="modal-dialog__content--sectioned"
     onClose=(action 'togglePopup')
     as |m|}}

    {{#m.content isSectioned=true}}
	    {{#unless burgemeester}}
				<div class="alert alert--small u-spacer--none u-hr">
					<div class="alert__message">
						<p>Eens de eedaflegging van de burgemeester voltooid is en gedeeld werd met Gelinkt Notuleren, kan het scenario "Burgemeester benoemd" hier geselecteerd worden.</p>
					</div>
		    </div>
	    {{/unless}}

	    <ul class="link-list link-list--bordered">
	      {{#if burgemeester}}
		      <li class="link-list__item">
	      		{{wu-button label="Burgemeester benoemd" onClick=null}}
	      		{{!--  onClick=(action 'insertMayor') --}}
		      </li>
	      {{else}}
		      <li class="link-list__item">
		      	{{wu-button disabled=true label="Burgemeester benoemd (nog niet beschikbaar)" onClick=null}}
		      </li>
	      {{/if}}
		    <li class="link-list__item">
		      {{wu-button label="Burgemeester benoemd, maar nog geen eedaflegging op installatievergadering" onClick=null}}
		       {{!-- onClick=(action 'MayorNoOath') --}}
		    </li>
		    <li class="link-list__item">
		      {{wu-button label="Geen burgemeester benoemd op installatievergadering" onClick=(action 'insertNoMayor')}}
		    </li>
	      {{burgemeester-aanstelling/no-burgemeester-template id=outputNoMayor class="u-hidden"}}
    	</ul>
    {{/m.content}}
    <div class="modal-dialog__footer">
      {{#wu-button-group}}
        {{wu-button label="Annuleer" class="button button--alt button--narrow" onClick=(action 'togglePopup')}}
      {{/wu-button-group}}
    </div>
  {{/wu-modal}}
{{/if}}
